:root {
    --vngine-color-loading-background: black;
    --vngine-color-screen-background: black;

    --vngine-color-ui-main: pink;
    --vngine-color-ui-main-darkened: rgb(228, 171, 180);
    --vngine-color-ui-main-hover: #fad3da;

    --vngine-color-ui-btn-main: pink;
    --vngine-color-ui-btn-main-darkened: rgb(228, 171, 180);
    --vngine-color-ui-btn-main-hover: #fad3da;

    --vngine-color-ui-border: #f58295;
    --vngine-color-ui-border-hover: #f58295;

    --vngine-color-ui-text: white;
    --vngine-color-ui-text-hover: #f58295;

    --vngine-color-ui-option-text: rgb(202, 115, 129);
    --vngine-color-ui-option-text-hover: white;

    --vngine-border-thickness: 4px;
    --vngine-border-thickness-small: 2px;
    --vngine-dialog-box-opacity: 0.85;

    --vngine-text-large: 80px;
    --vngine-text-medium: 35px;
    --vngine-text-small: 15px;
}

#vngine-div {
    display: flex;
    position: relative;
    margin: auto;
    padding: 0;
    width: 1280px;
    height: 720px;

    user-select: none;
}

.vngine-screen {
    width: 100%;
    background-color: var(--vngine-color-screen-background);
}

.vngine-btn-group {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -65%);
}

.vngine-btn {
    /* display */
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;

    /* text */
    font-size: var(--vngine-text-medium);

    /* colors and border */
    background-color: var(--vngine-color-ui-btn-main);
    color: var(--vngine-color-ui-text);
    border: var(--vngine-border-thickness) solid var(--vngine-color-ui-border);
    border-radius: 10px;
}

.vngine-btn:hover {
    /* colors and border */
    background-color: var(--vngine-color-ui-btn-main-hover);
    color: var(--vngine-color-ui-text-hover);
    border-color: var(--vngine-color-ui-border-hover);
}

.vngine-btn-small {
    margin: 0;
    margin-top: 5px;
    width: auto;
    font-size: var(--vngine-text-small);
    border: var(--vngine-border-thickness-small) solid var(--vngine-color-ui-border);
    border-radius: 5px;
}

/*---------------------------------*/
/*            LOADING              */
/*---------------------------------*/

.vngine-loading {
    background-color: var(--vngine-color-loading-background);
}

.vngine-loading-text-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.vngine-loading-text {
    color: white;
    margin-right: auto;
    margin-left: auto;
    transform: translate(0, -50%);
}


/*---------------------------------*/
/*              MENU               */
/*---------------------------------*/

.vngine-menu {
    color: var(--vngine-color-ui-text);
}

.vngine-menu-title {
    font-size: var(--vngine-text-large);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------*/
/*            SAVE/LOAD            */
/*---------------------------------*/

.vngine-savefiles {
    color: white;
}

.vngine-savefiles-header {
    display: flex;
    position: sticky;
    margin: 0;
    height: 10%;
    align-items: center;
    max-height: 100px;
    background-color: var(--vngine-color-ui-main);
}

.vngine-savefiles-header-text {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--vngine-text-medium);
    font-weight: bold;
    color: var(--vngine-color-ui-text);
}

.vngine-savefile-list {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.vngine-savefile {
    width: 100%;
    height: 200px;
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}

.vngine-savefile:nth-child(2n+1) {
    background-color: var(--vngine-color-ui-main-darkened);
}

.vngine-savefile:not(:nth-child(2n+1)) {
    background-color: var(--vngine-color-ui-main);
}

.vngine-savefile-picture {
    float: left;
    margin-left: 100px;
    margin-right: 10px;
    
    min-width: 320px;
    min-height: 180px;

    background-color: black;
    background-size: cover;
}

.vngine-savefile-name {
    /* text border */
    text-shadow: 2px  0   0 var(--vngine-color-ui-border),
                -2px  0   0 var(--vngine-color-ui-border),
                 0    2px 0 var(--vngine-color-ui-border),
                 0   -2px 0 var(--vngine-color-ui-border),
                 1px  1px   var(--vngine-color-ui-border),
                -1px -1px 0 var(--vngine-color-ui-border),
                 1px -1px 0 var(--vngine-color-ui-border),
                -1px  1px 0 var(--vngine-color-ui-border);
}

.vngine-savefile-sentence {
    margin-top: -20px;
    margin-bottom: 20px;
}


/*---------------------------------*/
/*              GAME               */
/*---------------------------------*/

.vngine-game {
    background-color: black;
}

.vngine-game-click-detector {
    position: absolute;
    top: 0px;
    left: 0px;

    min-width: 100%;
    min-height: 100%;
    
    z-index: 1;
    cursor: pointer;
}

.vngine-characters-div {
    display: flexbox;
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    
    padding: 0;
}

.vngine-character {
    position: absolute;
    max-height: 100%;
}

.vngine-dialog-box {
    position: absolute;
    bottom: 0%;
    width: calc(100% - 10px - 2*var(--vngine-border-thickness));
    height: 20%;
    margin: 5px;

    opacity: var(--vngine-dialog-box-opacity);

    background-color: var(--vngine-color-ui-main);
    color: var(--vngine-color-ui-text);
    border: var(--vngine-border-thickness) solid var(--vngine-color-ui-border);
    border-radius: 10px;
}

.vngine-dialog-character {
    color: black;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
}

.vngine-dialog-text {
    display: inline-block;
    vertical-align: middle;
    color: black;
    margin-left: 30px;
    font-size: var(--vngine-text-small);
}

.vngine-option-text-container {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.vngine-option-text {
    margin-left: 8px;
    cursor: pointer;
    color: var(--vngine-color-ui-option-text);
}

.vngine-option-text-hold {
    color: var(--vngine-color-ui-option-text-hover);
}

.vngine-option-text:hover {
    color: var(--vngine-color-ui-option-text-hover);
}